form {
    display: grid;
    gap: 3rem;
}

fieldset {
    display: grid;
    gap: 1rem;
}

.type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    gap: 2rem;
    border: 1px solid var(--input-stroke);
    border-radius: 10px;
    padding: .5rem;
    width: 105%;
    background-color: var(--input-base);
}

.type-img {
    display: flex;
    align-items: center;
    gap: .5rem;

    >img {
        width: 1.6rem;
    }
}

.location {
    padding-block: .36rem;

    >label {
        margin-top: -.25rem;
    }
}

.location label {
    display: flex;
    margin-top: -.2rem;
    margin-bottom: .8rem;
}

.description {
    display: grid;

    >#description {
        all: unset;
        background-color: var(--input-base);
        padding: 1rem;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--input-stroke);
    }

}

.theme-option {
    display: grid;
    gap: 1rem .2rem;
    grid-template-columns: repeat(auto-fit, minmax(8.735rem, 1fr));
}

.theme-selected {
    display: grid;

    border-radius: 6px;
    width: max-content;
    text-align: center;
    position: relative;
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    padding: .25rem .25rem .8rem .25rem;
    color: var(--text-heading);

    & img {
        margin-left: auto;
        margin-right: auto;
    }

    & input {
        position: absolute;
        width: 100%;
        opacity: 0;
        height: 100%;
    }

    & label {
        margin-top: 1rem;
    }

    &:has(:checked) {
        outline: 2px solid var(--brand-light);
    }
}

.file {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;

    & .file-select {
        color: var(--input-placeholder);
    }

    .error {
        margin-top: 1rem;
        display: flex;
        gap: .5rem;
        color: var(--feedback);
    }

    @media screen and (max-width: 1172px) {
        .file-select {
            margin-top: .4rem;
        }
    }
}

.contact label {
    display: inline-block;
    margin-bottom: 1rem;
}

#mail+.error,
#phone+.error,
#description+.error,
#location+.error {
    margin-top: 1rem;
}

#consents {
    display: grid;
    border-top: 1px solid var(--input-stroke);

    & .terms:nth-child(1) {
        margin-top: 2.5rem;
    }

    & .terms {
        position: relative;

        .terms-img {
            position: absolute;
            top: 0;
            width: 1.25rem;
            height: 1.25rem;
            background-color: var(--input-base);
            border: 1px solid var(--input-stroke);
            border-radius: 8px;
            opacity: 1;
        }

        &:has(:checked) {
            & .terms-img {
                border-color: var(--brand-light);
                background: url("../assets/icons/check-blue.svg") no-repeat;
                background-size: contain;
            }
        }

        & input {
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        & label {
            margin-left: 2rem;
        }

        & strong {
            color: var(--brand-light);
            border-bottom: 1px solid var(--brand-light);
        }
    }

    & button {
        all: unset;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-top: 3rem;
        gap: 1rem;
        padding-inline: 1.25rem;
        padding-block: 13px;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--brand-dark);
        width: max-content;
        color: var(--text-heading);

        & img {
            width: 1.25rem;
        }
    }
}