#app {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;

    gap: 1.25rem;
    padding: 1.25rem;

}

.container-aside {
    background-image: url(../assets/Background.svg);
    border-radius: 20px;
    background-size: cover;
    max-width: 25rem;
    height: 45.5rem;
    margin-left: auto;
    padding: 3.25rem;

    & h1 {
        color: var(--pink);
        font: var(--logo);
        margin-block: 1rem .4rem;
    }

    & h2 {
        font: var(--heading-sm);
    }
}

.container-main {
    padding: 5rem 8.125rem;
    background-color: var(--shape-body);
    border-radius: 20px;
    max-width: 51.25rem;

    h2 {
        margin-bottom: 2.625rem;
        font: var(--heading-md);
        color: var(--text-heading);
    }
}

