.personally {
    position: relative;
    padding: .5rem;

    &.personally input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    &:has(:checked) {
        background-color: var(--shape-button);
        border-radius: 5px;
        width: 100%;
        text-align: end;
    }
}

.online {
    position: relative;
    margin-right: auto;
    padding: .5rem;

    &.online input {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &:has(:checked) {
        background-color: var(--shape-button);
        border-radius: 5px;
        width: 90%;
        padding: .5rem;
    }
}